.modal {
    display: flex;
    max-width: 500px;
    max-height: 400px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-header-bg);
    color: var(--color-icon-filter);
    position: relative;
    padding-bottom: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1);
    opacity: 1;
}

.modal-hidden {
    transform: scale(0.9);
    opacity: 0;
}

.user-info-main {
    padding-top: 20px;
    margin-left: 20px;
    width: 300px;
}

.user-info-details {
    padding: 10px;
}

.users-photo {
    border: 2px solid var(--color-icon-remove);
    border-radius: 50%;
    width: 180px;
}

.fetched-data {
    margin: 10px 0 0 5px;
}

.feature {
    margin: 10px 0 3px 5px;
    color: var(--color-text-main);
    font-weight: bold;
}

.feature span {
    color: var(--color-icon-filter);
    font-weight: normal;
}

.close-btn {
    height: 30px;
    position: absolute;
    right: 0;
    margin: 7px 7px 0 0;
    background-color: var(--main-color-bg);
    border: 2px solid var(--color-border-input);
    border-radius: 6px;
    transition: all ease 0.3ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    background-color: var(--hover-color-btn);
    transform: scaleY(1.02);
    transition: all ease 0.3ms;
}

.close-btn i {
    font-size: 16px;
    line-height: 1;
    color: var(--color-female-text);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.overlay-hidden {
    opacity: 0;
    pointer-events: none;
}
